@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@media (prefers-color-scheme: dark) {

    :root,
    [data-theme="light"] {
        --body-bg-color: rgb(224, 220, 215);
        --li-t-color: #212124;
        --text-t-color: var(--li-t-color);
        --main-bc-color: rgb(32, 30, 30);
        --button-bg-color: var(--li-t-color);
        --links-bg-color: var(--body-bg-color);
        --md-footer-logo-dark-mode: none;
        --md-footer-logo-light-mode: block;
        --bt-img: url("./icons/DarkMode.png");
    }

    /* --bg-aboutme-light: url(https://t4.ftcdn.net/jpg/01/30/50/59/360_F_130505941_aHM5DQifhmVGcs80xVUPPMfDjg5BBm3c.jpg); */

}

[data-theme="dark"] {
    --body-bg-color: #292b2b;
    --li-t-color: #f3efec;
    --text-t-color: var(--li-t-color);
    --main-bc-color: rgb(220, 143, 143);
    --button-bg-color: var(--li-t-color);
    --links-bg-color: (var(--li-t-color));
    --md-footer-logo-dark-mode: block;
    --md-footer-logo-light-mode: none;
    --bt-img: url("./icons/LM2.png");
}
body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: var(--body-bg-color);
    color: var(--li-t-color);

}

.hello{
    color: var(--li-t-color);
}


a {
    font-family: "Montserrat", sans-serif;
    font-weight: 900;
    font-size: 16px;
    color: var(--li-t-color);
    text-decoration: none;
}

li {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    /* color: var(--li-t-color); */
    text-decoration: none;
}

.l {
    display: flex;
    justify-content: flex-end;
    /*even spacing */
    padding: 30px 10%;
    opacity: 0.8;
}

.logo {
    cursor: pointer;
    margin-right: auto;
    width: 4%;
    margin-top: 0.5%;
    height: 3%;
}

.nav_links {
    list-style: none;
    color: var(--li-t-color);
    font-weight: 100;
}

.nav_links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a {
    transition: all 0.3 ease 0s;
}

.nav_links li a:hover {
    color: rgb(71, 144, 144);
}

.toggleB {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    /* color: var(--body-bg-color); */
    text-decoration: none;
    background-image: var(--bt-img);
    background-size: contain;
    background-repeat: no-repeat;
    height: 30px;
    width: 30px;
    padding: 7px 25px;
    background-color: var(--body-bg-color);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3 ease 0s;
}


.blog1 {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 20px;
    background-color: #eae699;
    align-content: center;
    background-image: url("./icons/yuriy-kovalev-nN1HSDtKdlw-unsplash.jpg");
    border-radius: 1%;
    color:#212124;
}

.blog2 {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 20px;
    background-color: #bded95;
    align-content: center;
    background-image: url("./icons/simon-berger-twukN12EN7c-unsplash.jpg");
    border-radius: 1%;
    color:#212124
}

.bloglist{
    color:#212124;
}

h1,
h2 {
    color: #333;
}

h2 {
    border-bottom: 2px solid #333;
    padding-bottom: 10px;
    margin-top: 30px;
}

p {
    color: #555;
}

ul {
    list-style-type: square;
    margin-left: 20px;
}

.likebutton {
    height: 2vmax;
    width: 2vmax;
    background-color: transparent;
    background-image: url(./icons/like.png);
    background-size: contain;
    border-color: transparent;
}